
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/v_m45.mdl
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/v_m45.dx90.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/type5.vvd
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/type5.sw.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/type5.mdl
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/type5.dx90.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/type5.dx80.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/garand.vvd
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/garand.sw.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/garand.mdl
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/garand.dx90.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/compiled 0.44/garand.dx80.vtx
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/sprint_out.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/sprint_in.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/sprint.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/reload_empty.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/reload.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/idle.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/holster.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/fire_last.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/fire_ads_last.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/fire_ads.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/fire.smd
cod ww2 sweps/models/weapons/decompiled 0.44/bar_anims/draw.smd
cod ww2 sweps/materials/models/weapons/mg81/gsn/flat_gray.vtf
cod ww2 sweps/materials/models/weapons/mg81/gsn/receiver_g.vtf
cod ww2 sweps/materials/models/weapons/mg81/gsn/receiver_n.vtf
cod ww2 sweps/materials/models/weapons/mg81/gsn/receiver_s.vmt
cod ww2 sweps/materials/models/weapons/mg81/gsn/receiver_s.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_barrel_base.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_barrel_base.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_clip_base.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_clip_base.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_optics_base.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_optics_base.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_receiver_base.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_receiver_base.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_receiver_internals_base.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_receiver_internals_base.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_stock_base.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_ger_mg81_stock_base.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_killcounter.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_killcounter.vtf
cod ww2 sweps/materials/models/weapons/mg81/mtl_mg42_bipod.vmt
cod ww2 sweps/materials/models/weapons/mg81/mtl_mg42_bipod.vtf
